.parrafo {
    max-Width: 400px;
    margin: 2rem auto;
    text-Align: center;
}

.titulob {
    color: #085500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
}

.inputb {
    width: 100%;
    padding: 0.5rem;
    margin-Bottom: 1rem;
}

.buttonb {
    background: #00843D;
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-Radius: 5px;
    font-Weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

.buttonb:hover {
    background: #45ff07;
}