.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --gap: 30px;
  --card-w: 320px;
}

.form-container {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  margin-top: 0;
  margin: 0;

  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, box-shadow .2s ease;
  animation: fadeln .5s ease-in-out;
}

.form-container:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgb(0, 56, 86);
}

.contenedorImagen2 {
  max-width: 100px;
  max-height: 75px;
  object-fit: cover;
}

.contenedorImagenb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: transform .2s ease, box-shadow .2s ease;
}

.contenedorImagenb:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgb(0, 56, 86);
}

.foto {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-top: 0;
  margin: auto;
  transition: transform .2s ease, box-shadow .2s ease;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.foto:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 20px rgb(0, 56, 86);
}

h1 {
  text-align: center;
  color: #2d3436;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 1rem;
  font-weight: 500;
  color: #2d3436;
}

.inputf {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: 1px solid #b2bec3;
  border-radius: 6px;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 80px;
}

.buttonf {
  background-color: #0984e3;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.buttonf:hover {
  background-color: #74b9ff;
}